<div class="container-fluid mt-5">
  <h1 class="mb-4">Lista de Registros</h1>

  {{#if registros}}
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th class="col-1">ID</th>
            <th class="col-2">Paquete</th>
            <th class="col-1">Espesor (pulgadas)</th>
            <th class="col-2">Ancho (pulgadas)</th>
            <th class="col-2">Alto (pies)</th>
            <th class="col-2">Total metros cúbicos</th>
            <th class="col-2">Total pies tablares</th>
            <th class="col-2">Especie</th>
            <th class="col-2">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each registros}}
            <tr>
              <td class="col-1">{{dataValues.id}}</td>
             <td class="col-2">
                {{#with (lookup ../datosPaquetesPadre @index)}}
                  {{#if dataValues.date}}
                    {{dataValues.date}}-{{dataValues.shift}}-{{dataValues.id}}
                  {{else}}
                    No date available
                  {{/if}}
                {{else}}
                  Paquete not found
                {{/with}}
              </td>
              <td class="col-1">{{dataValues.espesor}}</td>
              <td class="col-2">{{dataValues.ancho}}</td>
              <td class="col-2">{{dataValues.alto}}</td>
              <td class="col-2">{{dataValues.total_metros_cubicos}}</td>
              <td class="col-2">{{dataValues.total_pies_tablares}}</td>
              <td class="col-2 text-truncate">{{dataValues.especie}}</td>
              <td class="col-2">
                <div class="btn-group" role="group">
                  <a href="" class="btn btn-sm btn-warning">Editar</a>
                  <button class="btn btn-sm btn-danger">Eliminar</button>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <p class="alert alert-info">No hay registros para mostrar.</p>
    <a href="/crear-registro" class="btn btn-primary">Crear un registro</a>
  {{/if}}
</div>